*{
    margin: 0;
 padding: 0;
}
.Photo{
    width: 40%;
    background-color: blueviolet;
    height: 200px;
    display: inline-block;
}
.Profile_All{  
    background-color: rgb(0, 110, 255);
    width: 60%;
    height: 100%;
    float: right;
    display: inline-block;
}
.Profile{
    display: inline-block;
    width: 60%;
}
.Contact{
    background-color:rgb(22, 98, 121);
    height: 200px;
    width: 40%;
}
.Education{
    background-color:rgb(20, 90, 73);
    height: 200px;
    width: 40%;
}
p{
    display: inline;
}